@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
    background-color: #F0F0F0;
    font-family: 'Quicksand', sans-serif;
    color: #151515;
}

.column {
    display: flex;
    flex-direction: column;
}

.header {
    max-width: 2280px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

@media (max-width: 764px) {
    .header {
        justify-content: space-between;
        padding: 20px 20px;
    }
}

.nav {
    width: 100%;
}

.logo {
    margin-right: 30px;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style-type: none;
}

@media (max-width: 764px) {
    .nav-list-active {
        display: flex !important;
        position: absolute;
        border: 1px solid #151515;
        border-radius: 10px;
        flex-direction: column;
        padding: 10px;
        right: 5px;
        left: 5px;
        top: 90px;
        z-index: 2;
        background-color: #F0F0F0;
    }
}

@media (max-width: 764px) {
    .nav-list {
        display: none;
    }
}

.nav-item a {
    color: #151515;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.auth {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

@media (max-width: 764px) {
    .auth {
        margin-left: 0;
    }
}

.auth button {
    width: 145px;
    height: 52px;
    border: 1px solid #151515;
    font-weight: 700;
}

.auth button:hover {
    background-color: #151515;
    color: #FFFFFF;
}

.mobile-button {
    display: none;
}

@media (max-width: 764px) {
    .mobile-button {
        display: flex;
        flex-direction: column;
        padding: 15px;
        border: 1px solid #151515;
        border-radius: 5px;
    }

    .mobile-button span {
        display: inline-block;
        background-color: #151515;
        width: 30px;
        height: 2px;
        transition: 0.5s;
    }

    .mobile-button span:last-child {
        margin-top: 5px;
    }

    .burger-btn-active span:first-child {
        transition: 0.5s;
        transform: rotate(-35deg);
    }

    .burger-btn-active span:last-child {
        margin-top: 0;
        transition: 0.5s;
        transform: rotate(35deg);
    }
}

.main {
    max-width: 1440px;
    margin: 50px auto 0 auto;
    position: relative;
    z-index: 1;
    padding: 10px;
    gap: 100px;
}

@media (max-width: 764px) {
    .main {
        padding: 0 20px;
    }
}

.section {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 914px) {
    .section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.hero-description {
    max-width: 721px;
    gap: 30px;
}

.hero-title {
    font-size: 70px;
}

@media (max-width: 1024px) {
    .hero-title {
        font-size: 50px;
    }
}

@media (max-width: 445px) {
    .hero-title {
        font-size: 30px;
    }
}

.hero-description p {
    font-size: 18px;
    line-height: 26px;
    max-width: 565px;
}

.hero-img {
    flex: 0 0 auto;
}

.hero-form input {
    border: 1px solid #151515;
    padding: 10px;
    font-weight: 700;

}

.hero-form {
    display: flex;
    flex-wrap: wrap;
}

.hero-form label {
    display: block;
}

.button {
    background-color: #151515;
    color: #FFFFFF;
    padding: 11px 30px;
    font-weight: 700;
}

@media (max-width: 445px) {
    .hero-form label, .hero-form input, .button {
        width: 100%;
    }

}

.payment {
    display: flex;
    gap: 20px;
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #151515;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
}

.about-us-description {
    max-width: 750px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

h2 {
    font-size: 60px;
    line-height: 58px;
}

@media (max-width: 445px) {
    h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

.about-us-list {
    gap: 20px;
    list-style-type: square;
}

@media (max-width: 914px) {
    .about-us {
        flex-direction: column-reverse;
    }
}

.how-it-works-list {
    list-style-type: none;
    gap: 30px;
}

.how-it-works-list-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.how-it-works-description {
    gap: 30px;
    align-items: flex-start;
}

.how-it-works-img img {
    width: 580px;
}

h4 {
    font-weight: 700;
    font-size: 22px;
}

.pricing {
    gap: 50px;
}

.pricing-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.pricing-info {
    max-width: 730px;
    gap: 20px;
    align-items: flex-end;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.pricing-card {
    gap: 40px;
    border: 1px solid #151515;
    padding: 45px;
}

.pricing-card-price {
    font-weight: 700;
}

.pricing-card-price span {
    font-size: 80px;
}

.pricing-card-list {
    list-style-type: square;
    gap: 20px;
}

.pricing-card .button {
    width: 100%;
}

.pricing-card:hover {
    background-color: #151515;
    color: #FFFFFF;
    cursor: pointer;
}

.pricing-card > .button {
    margin-top: auto;
}

.pricing-card:hover > .button {
    background-color: #FFFFFF;
    color: #151515;
}

.common {
    margin-bottom: 70px;
}

.common-description {
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 840px;
}

.common-text {
    max-width: 530px;
}

.common-details {
    width: 100%;
    gap: 40px;
    max-width: 840px;
    position: relative;
}

.common-details summary {
    font-weight: 700;
    font-size: 20px;
    list-style: none;
    position: relative;
}

summary:before {
    content: url("/img/i_plus.png");
    position: absolute;
    right: 0;
}

details[open] summary:before {
    content: url("/img/i_minus.png");
    font-weight: 400;
}

.common-details details:after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #151515;
    left: 0;
    right: 0;
    transform: translateY(15px);
}

.footer {
    width: 100%;
    background-color: #151515;
    color: #FFFFFF;
    padding: 30px;
}

.footer-container {
    max-width: 2280px;
    margin: 0 auto;
}

.social-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-bottom: 30px;
}

.social-links img {
    border: 2px dashed #FFFFFF;
}

@media (max-width: 1024px) {
    .social-links {
        margin-top: 30px;
    }
}

.footer-form {
    margin-bottom: 50px;
}

.footer-form form {
    display: flex;
}

.footer-form h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
}

.footer-form input {
    border: 1px solid #FFFFFF;
    padding: 10px;
}

.footer-form button {
    background-color: #FFFFFF;
    padding: 11px;
    color: #151515;
    font-weight: 700;
}

label {
    display: block;
}


.footer-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    max-height: 200px;
}


.footer-nav-list li:nth-of-type(2) {
    height: 170px;
}

@media (max-width: 764px) {
    .footer-nav-list {
        max-height: 100%;
    }

    .footer-nav-list li:nth-of-type(2) {
        height: 70px;
    }
}

.footer-nav-list li a {
    color: inherit;
}
